@font-face {
    font-family: "Avenir Next";
    src: url("../fonts/avenir.otf");
}

@font-face {
    font-weight: bold;
    font-family: "Avenir Next";
    src: url("../fonts/avenir.bold.otf");
}

@keyframes blink {
    from {
        background-color: #ff760355;
    }

    25% {
        background-color: transparent;
    }

    50% {
        background-color: #ff760355;
    }

    to {
        background-color: 0;
    }
}

@keyframes domination {
    from {
        transform: translateY(-4px) scale(1.0);
        box-shadow: 0 0 0 6px #33333355;
    }

    10% {
        transform: translateY(-3px) scale(1.0);
        box-shadow: 0 0 0 3px #33333355;
    }
    
    20% {
        transform: translateY(-3px) scale(1.0);
        box-shadow: 0 0 0 3px #33333355;
    }

    50% {
        transform: translateY(0px) scale(200.0);
        opacity: 1;
    }

    70% {
        transform: translateY(0px) scale(200.0);
        opacity: 1;
    }

    85% {
        box-shadow: 0 0 0 3px #33333355;
        transform: translateY(0px) scale(1.0);
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

html {
    scroll-behavior: smooth;
}

* {
    font-family: "Avenir Next", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

small {
    color: #989898;
}

input {
    border: 0;
    color: #767676;
    font-size: 1em;
    margin-bottom: 0.2em;
    border-bottom: 2px #ff7603cc solid;
}

a {
    text-decoration: none;
    color: #ff7603ee;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: #ff7603;
}

.circlet-list {
    display: inline;
    margin-left: 0.25em;
}

@media screen and (max-width: 438px) {
    .circlet-list {
        display: block;
        margin: 0;
    }

    .circlet:first-of-type {
        margin: 0;
    }
}

.circlet {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    box-shadow: 0 0 0 3px #ff760355;
    background-color: white;
    margin: 0 0 0 0.4em;
    transition: all 0.5s;
    z-index: 101;
    position: relative;
}

.circlet.circlet__dark {
    background-color: #333;
    box-shadow: 0 0 0 3px #33333355;
}

.circlet:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 0 6px;
}

.circlet.circlet__dark:hover {
    box-shadow: 0 0 0 6px #33333355;
}

.circlet:active {
    transition: all 0.2s;
    transform: translateY(-4px);
    box-shadow: 0 0 0 3px;
    animation: 2s domination ease forwards;
}

.circlet.circlet__dark:active {
    box-shadow: 0 0 0 3px #33333355;
}

.blinky {
    animation: 1s blink;
}

.domination {
    animation: 2s domination ease-out forwards;
}

.divider {
    height: 1px;
    margin: 3rem 0 0.5rem;
    background-color: #eeeeee;
    width: 10em;
}

#magic {
    border-bottom: 1px #ff760388 dotted;
    width: 100%;
}

.admin {
    margin-top: 2rem;
    display: none;
}

input:hover {
    color: #343434;
    border-bottom-color: #ff7603;
}

input:focus, input:active {
    outline: none;
    color: #121212;
    border-bottom-color: #ff7603;
}

label {
    color: #767676;
}

label:hover {
    color: #343434; 
}

label:active {
    color: #121212;
}

.header {
    margin-bottom: 2rem;
}

.giant-header {
    color: #ff7603;
}

.container {
    margin: 5% 10%;
}

.magic-field {
    margin-bottom: 1rem;
}

.ongoing-polls {
    display: flex;
    flex-wrap: wrap;
}

.poll {
    width: 30%;
    padding: 0.5rem 0.1rem;
}

@media screen and (max-width: 744px) {
    .poll {
        width: 45%;
    }
}

@media screen and (max-width: 550px) {
    .poll {
        width: 90%;
    }

    .poll-option {
        padding: 0.8rem 0.5rem !important;
    }
}

.new-poll-name {
    margin-top: 1rem;
    font-size: 1.4em;
    font-weight: bold;
    width: 100%;
    color: #121212;
}

.new-poll-halfsie {
    width: 49%;
    margin-right: 1%;
}

.new-poll-thirdsie {
    width: 33%;
    margin-right: 1%;
}

.new-poll-halfsie:last-child {
    width: 50%;
    margin-right: 0;
}

.new-poll-option {
    margin-top: 1rem;
    font-size: 1.4em;
    font-weight: bold;
    width: 100%;
    background-color: transparent;
    border-bottom: 0;
    color: #000000;
}

.submit {
    display: inline-block;
    font-weight: 1000;
    border: 2px #ff7603 solid;
    color: #232323;
    margin: 0.5rem 0.4rem 0.5rem 0;
    padding: 0.5rem 1rem;
    user-select: none;
    text-decoration: none;
}

.submit:hover {
    background-color: #ff7603;
    color: white;
    text-decoration: none;
}

.submit:active {
    background-color: #ee6502;
}

.fill-width {
    width: 100%;
}

.relaxed-line-height {
    line-height: 2em;
}

.poll-options-list {
    width: 100%;
    margin-top: 0.5rem;
}

.poll-option {
    background-color: #eeeeee;
    padding: 0.2rem 0.5rem;
    color: #343434;
    user-select: none;
    margin: 0.1rem 0;
    position: relative;
}

.poll-option.selectable {
    user-select: inherit;
}

.poll-option .poll-bar {
    position: absolute;
    left: 0;
    top: 0;
    right: 50%;
    background-color: #00ee00;
    opacity: 0.5;
    height: 100%;
    transition: 0.5s all;
    transition-timing-function: cubic-bezier(1, 0, 0, 1);
    pointer-events: none;
}

.poll-option.expired .poll-bar {
    background-color: #ff760355;
}

.poll-option.winning:after {
    content: "👑";
    position: absolute;
    right: 5px;
    top: 0;
}

.poll-option:hover {
    color: #111111;
    border: 0;
}

.poll-option:hover .poll-bar {
    right: 0% !important;
}

.poll-option:not(.expired):not(.voted):hover * {
    color: #111111;
}

.poll-option:not(.expired):active, .poll-option.voted {
    background-color: #119911 !important;
    color: white;
    z-index: 100;
}

.poll-option.expired.voted {
    background-color: #ee6502 !important;
    color: white;
}

.poll-option:not(.expired):active ::placeholder, .poll-option.voted ::placeholder {
    color: white;
}

.poll-option:not(.expired):active *, .poll-option.voted * {
    color: white;
}

.poll-option:not(.expired):active .poll-bar, .poll-option.voted .poll-bar {
    background-color: transparent !important;
}

.poll-link {
    text-decoration: none;
    color: #121212;
    position: relative;
}

.poll-link:hover {
    text-decoration: underline;
}

.poll-link:hover:before {
    content: "#";
    color: #ff760355;
    position: absolute;
    left: -15px;
    top: 0;
}

.rejection {
    display: none;
}

.failed {
    display: none;
}

/* === DARK THEME === */
body.dark {
    color: white;
    background-color: #111;
}

input.dark {
    background: transparent;
    color: white;
}

.giant-header.dark {
    color: rgb(170, 40, 4);
}

.ongoing-polls.dark > .poll > h4 > .poll-link {
    color: white;
}

.ongoing-polls.dark > .poll > h4 > .poll-link:active {
    color: #ff7603;
}

.ongoing-polls.dark > .poll > .poll-options-list > .poll-option, .poll-option.dark {
    background-color: #151515;
    color: white;
}

.ongoing-polls.dark > .poll > .poll-options-list > .poll-option * {
    color: white;
}

.ongoing-polls.dark > .poll > .poll-options-list > .poll-option:not(.expired):not(.voted):hover * {
    color: white;
}

.submit.dark {
    color: white;
}

.divider.dark {
    background-color: #343434;
}
